@import url(https://fonts.googleapis.com/css?family=Poppins);
*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html{
  font-size: 10px;
  font-family: 'Poppins';
  color: #ffffff;
  scroll-behavior: smooth;
}

body{
  width: 100%;
  height: 100%;
  background: black no-repeat center fixed;
  background-size: cover;
  touch-action: manipulation;
}

.section{
height: 100%;

}

.header {
  overflow: hidden;
  opacity: 100%;
  background-color: #000000ec;
  padding: 20px 20px;
  z-index: 5;
  
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}
/* Style the header links */
.header a {
  color: rgb(255, 255, 255);
  text-align: center;
 padding-left: 6rem;
  text-decoration: none;
  font-size: 18px;
  line-height: 50px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header .logo {
  margin-left: 13rem;
}

/* Change the background color on mouse-over */
.header a:hover {
  color: #00FFBA;
}

/* Style the active/current link*/


/* Float the link section to the right */


.header-right {
  margin-right: 13rem;    
  float: right;
}

.home .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.about-details {
align-items: flex-start;
margin-left: 15rem;

}

.about-details p{
color: #ffffff;
font-size: 1.8rem;
letter-spacing: 1px;
line-height: 3rem;
font-weight: 300;
}

.about-heading{
  text-align: left;
  
  line-height: 0;
  margin-bottom: 3rem; 
}
.about-heading h1{
  font-size: 4.5rem;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 6rem;
  color: #ffffff;
}

.coach{
color: #ffffff;
}
.green{
color: #00FFBA;
}
.skills-img{
position: relative;
flex: .5;
top: 3rem;
margin-right: 15rem;
}

.headingacademy{
font-size: 3.5rem;
text-align: center;
letter-spacing: 2px;
color: #ffffff;
margin-top: 15rem;
margin-bottom: 3rem;
}

.paddle {
  position: relative;
  display: inline-block;
	top: 0;
	bottom: 0;
	width: 3rem;
}

.left-paddle {
	float: left;
}
.right-paddle {
	float: right;
}
.card-container {
max-width: 80%;
border-radius: 10px;
margin: auto;
overflow-x: scroll;
display: flex;
align-items: center;
background-color: #100e17;
padding: 3rem;
}

.card-container::-webkit-scrollbar {
display: none;
}

.card {
min-width: 400px;
height: 360px;
border-radius: 16px;
background-color: #17141d;
box-shadow: -1rem 0 3rem #000;
display: flex;
flex-direction: column;
padding: 1.5rem;
transition: 0.2s;
}

.boximage{
  display: flex;
  flex-direction: row;
}
.card.image{
float: right;
position: relative;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  color: #ffffff;
  font-size: 10px;
  
}

.tags div {
  font-size: 9px;
  letter-spacing: 2px;
  font-weight: 700;
  padding: 4px 10px;
  border: 1px solid #00FFBA;
  border-radius: 2rem;
}
.date {
color: #8a8a8a;
}

.card .category-title {
font-size: 14px;
color: #00FFBA;
margin-bottom: 1rem;
}

.card .article-title {
font-size: 2rem;
font-weight: 600;
letter-spacing: 2px;
color: #ffffff;
line-height: 25px;
}

.card .article-header {
margin-bottom: 1rem;
}

.card .a{
line-height: 25px;
font-size: 15px;
margin-left: 15px;
margin-top: 1rem;
color: #d8d8d8;
}
.card .author {
margin-top: 1rem;
grid-template-columns: 75px 1fr;
}

.author .info .caption {
font-size: 15px;
color: #8a8a8a;
}

.card:not(:first-child) {
margin-left: -60px;
}
.card:hover {
transform: scale(1.1);
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1rem;
  border-radius: 50%;
  width: 38px;
  align-items: center;
  height: 38px;
  margin-right: 10px;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}

.social{
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.buttons2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1rem;
  border-radius: 50%;
  width: 38px;
  align-items: center;
  height: 38px;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  }
    
.buttons2:hover{
  background-color: #ff4f4f;
}
.fa-google{
  color: #000;
}
.fa-google:hover{
  color: #ffffff;
}

.buttons:hover{
  background-color: #13d80c;
}
.fa-whatsapp{
  color: #000;
}
.fa-whatsapp:hover{
  color: #ffffff;

}


/*btn_background*/

.container1{
  z-index: 1;
width: 76%;
margin: auto;
display: flex;
justify-content: space-between;
overflow-x: hidden;
margin-top: -15rem;
}

.container1::-webkit-scrollbar {
  display: none;
  }

.container1 .card1{
position: relative;
cursor: pointer;

}

.container1 .card1 .face{
width: 300px;
height: 300px;
transition: 0.5s;
border-radius: 10px;
}

.container1 .card1 .face.face1{
position: relative;
background: #333;
display: flex;
flex-direction: column;
align-items: center;
z-index: 1;
border-radius: 10px;
transform: translateY(160px);
}

.container1 .card1:hover .face.face1{
background: #00FFBA;
transform: translateY(0);
}

.container1 .card1 .face.face1 .content{
opacity: .8;
transition: 0.5s;
}

.container1 .card1:hover .face.face1 .content{
opacity: 1;
}

.container1 .card1 .face.face1 img{
max-height: 320px;
border-radius: 10px;
}

.container1 .card1 .face.face1 h3{
margin-top: 3px;
color: rgb(0, 0, 0);
text-align: center;
font-size: 2rem;
font-weight: 400;
}


.container1 .card1 .face.face2{
position: relative;
background: #fff;
display: flex;
flex-direction: column;
align-items: left;
box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
transform: translateY(-100px);
}

.container1 .card1:hover .face.face2{
transform: translateY(-50);

}

.container1 .card1 .face.face2 .content{
color: #000;
margin-top: 14rem;
line-height: 23px;
font-size: 15px;
margin-left: 20px;

}

  
.container1 .card1 .face.face2 .content a{
margin: 15px 0 0;
display:  inline-block;
text-decoration: none;
font-weight: 900;
color: rgb(255, 255, 255);

}

.container1 .card1 .face.face2 .content a:hover{
background: #333;
color: #fff;

}

.demo{ 
  background: #000000; 
  max-width: 76%;
  margin: auto;
}
.testimonial{
    padding: 35px 50px;
    margin: 0 20px 30px;
    border-radius: 0 70px 0 70px;
    border: 5px solid #00FFBA;
    border-left: none;
    border-right: none;
    text-align: center;
}

.testimonial .pic img{
    width: 100%;
    height: auto;
}
.testimonial .title{
    display: block;
    margin: 0 0 7px 0;
    font-size: 20px;
    font-weight: 600;
    color: #00FFBA;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.testimonial .post{
    display: block;
    font-size: 15px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.testimonial .description{
    font-size: 16px;
    color: #fff;
    line-height: 30px;
}
.owl-theme .owl-controls{ margin-top: 0; }
.owl-theme .owl-controls .owl-page span{
    background: #fff;
    opacity: 0.8;
    transition: all 0.3s ease 0s;
}

.contactbox{
  margin: auto;
  width: 80%;
  margin-top: 25rem;
  margin-bottom: 10rem;
  scroll-behavior: smooth;
}
.contact_container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact_container.contact{
  display: flex;
  flex-direction: column;
}

.contact_container.form_layout{
  display: flex;
  flex-direction: column;
}

.contact_us{
  font-size: 3rem;
  margin-bottom: 5rem;
  letter-spacing: 2px;
}

.contact p{
  font-size: 1.5rem;
  width: 40rem;
  letter-spacing: 2px;
  margin-bottom: 5rem;
}

.icons{
  display: flex;
  flex-direction: row;

}
.phoneimage{
  max-width: 20px;
  margin-bottom: 1rem;
}

.phone{
  margin-right: 10rem;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.phonenumber{
  margin-top: 1rem;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.form_layout{
  width: 40rem;
  height: 50rem;
  background-color: #17141d;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.formpara {
  font-size: 1.2rem;
  margin-top: 1rem;
  letter-spacing: 1px;
  line-height: 2rem;
}

.formcontent{
  display: flex;
  width: 85%;
  margin-top: 3rem;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.formheading{
  margin: auto;
}

.formheading h1{
  font-size: 2rem;
  letter-spacing: 2px;
}


form{
  margin-top: 3rem;
}
.input-field {
  position: relative;
  width: 85%;
  margin: auto;
  margin-top: 1.5rem;
  height: 5rem;
  line-height: 44px;
}
label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  letter-spacing: 1px;
  font-size: 1.3rem;
  color: #8d8d8d;
  transition: 0.2s all;
  cursor: text;
}

input {
  width: 100%;
  border: 0;
  outline: 0;
  padding: 1rem 0;
  background-color: rgba(255, 255, 255, 0);
  border-bottom: 2px solid #5e5e5e;
  box-shadow: none;
  color: rgb(255, 255, 255);
}
input:invalid {
  outline: 0;
  
}
input:focus,
input:valid {
  border-color: #00FFBA;
}
input:focus~label,
input:valid~label {
  font-size: 14px;
  top: -24px;
  color: #00FFBA;
}

.form_layout button {
  border: 2px solid #00FFBA;
  border-radius: 5px;
  background-color: #d8d8d800; /* Green */
  color: #00FFBA;
  padding: 10px 28px;
  text-align: center;
  margin-left: 15rem;
  margin-top: 2rem;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.form_layout button:hover {
  background-color: #00FFBA;
  color: white;
}
.owl-theme .owl-controls .owl-page.active span{ background: #00FFBA; }
/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 1000px) {
 
  .about-details p{
    color: #ffffff;
    font-size: 10px;
    line-height: 3rem;
    font-weight: 200;
  }
  .about-heading h1{
    font-size: 4rem;
    font-weight: 550;
    line-height: 6rem;
    color: #ffffff;
  }

  
}
  

