@import url(https://fonts.googleapis.com/css?family=Poppins);
*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html{
  font-size: 10px;
  font-family: 'Poppins';
  color: #ffffff;
}

body{
  width: 100%;
  height: 100%;
  background: black no-repeat center fixed;
  background-size: cover;
  touch-action: manipulation;
}

.section{
padding: 6rem 0;
}

.header {
  overflow: hidden;
  opacity: 100%;
  background-color: #000000ec;
  padding: 20px 20px;
  z-index: 5;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}
/* Style the header links */
.header a {
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 30px;
  text-decoration: none;
  font-size: 18px;
  line-height: 50px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header .logo {
  margin-left: 14rem;
}

/* Change the background color on mouse-over */
.header a:hover {
  color: #00FFBA;
}

/* Style the active/current link*/


/* Float the link section to the right */
.header-right {
  margin-right: 15rem;    
  float: right;
}

.home .container{
  display: flex;
  align-items: center;
  justify-content: left;
}

.about-details {
align-items: flex-start;
margin-left: 16rem;
}

.about-details p{
color: #ffffff;
font-size: 2.2rem;
line-height: 3rem;
font-weight: 400;

}
.about-heading{
  text-align: left;
  line-height: 0;
  margin-bottom: 3rem; 
  
}
.about-heading h1{
  font-size: 5.5rem;
  font-weight: 550;
  line-height: 6rem;
  color: #ffffff;
}

.coach{
color: #ffffff;
}
.green{
color: #00FFBA;
}
.skills-img{
position: relative;
margin-top: 5rem;
margin-left: 10rem;
}

.headingacademy{
font-size: 3rem;
text-align: center;
letter-spacing: 2px;
color: #ffffff;
margin-top: 10rem;
margin-bottom: 5rem;
}

.card-container {
width: 76%;
border-radius: 10px;
margin: auto;

overflow-x: scroll;
display: flex;
justify-content: left;
align-items: center;
background-color: #100e17;
padding: 3rem;
}
.card-container::-webkit-scrollbar {
display: none;
}

.card {
min-width: 400px;
height: 360px;
border-radius: 16px;
background-color: #17141d;
box-shadow: -1rem 0 3rem #000;
display: flex;
flex-direction: column;
padding: 1.5rem;
transition: 0.2s;
}

.boximage{
  display: flex;
  flex-direction: row;
}
.card.image{
float: right;
position: relative;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  color: #ffffff;
  font-size: 10px;
  
}

.tags div {
  font-size: 9px;
  font-weight: 700;
  padding: 4px 10px;
  border: 1px solid #bfe904;
  border-radius: 2rem;
}
.date {
color: #8a8a8a;
}

.card .category-title {
font-size: 14px;
color: #00FFBA;
margin-bottom: 1rem;
}

.card .article-title {
font-size: 20px;
font-weight: 700;
color: #ffffff;
line-height: 25px;
}

.card .article-header {
margin-bottom: 1rem;
}

.card .a{
line-height: 25px;
font-size: 15px;
margin-left: 15px;
margin-top: 1.5rem;
color: #d8d8d8;
}
.card .author {
margin-top: 1rem;
grid-template-columns: 75px 1fr;
}

.author .info .caption {
font-size: 15px;
color: #8a8a8a;
}

.card:not(:first-child) {
margin-left: -60px;
}
.card:hover {
transform: scale(1.1);
}

.buttons {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
text-align: center;
width: 100%;
height: 40px;
margin-top: 1rem;

}

.btn {
background-color: rgb(255, 255, 255);
padding-left: 30px;
padding-right: 30px;
padding-top: 8px;  letter-spacing: 1px;
cursor: pointer;
font-size: 14px;
font-weight: 400;
line-height: 25px;
max-width: 160px;
position: relative;
text-decoration: none;
border-radius: 40px;  
transition: all .2s ease-in-out;
}
.btn:hover {
text-decoration: none;
transform: scale(1.1);
}
/*btn_background*/
.effect04 {
--uismLinkDisplay: var(--smLinkDisplay, inline-flex);
display: var(--uismLinkDisplay);
color: #000;
outline: solid  2px #000;
position: relative;
transition-duration: 0.4s;
overflow: hidden;
}

.effect04::before,
.effect04 span{
  margin: 0 auto;
transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
transition-duration: 0.4s;
}

/* 文字1を上に */
.effect04:hover{
background-color: #00FFBA;
}

/* HOVERしたら文字1を上に */
.effect04:hover span{
-webkit-transform: translateY(-400%) scale(-0.1,20);
        transform: translateY(-400%) scale(-0.1,20);
}

/*文字2*/
.effect04::before{
content: attr(data-sm-link-text);
color: #FFF;
position: absolute;
left: 0;
right: 0;
margin: auto;
-webkit-transform: translateY(500%) scale(-0.1,20);
        transform: translateY(500%) scale(-0.1,20);
}

/* HOVERしたら文字2を上に */
.effect04:hover::before{
letter-spacing: 0.05em;
-webkit-transform: translateY(0) scale(1,1);
        transform: translateY(0) scale(1,1);
}


.container1{
  z-index: 1;
width: 76%;
margin: auto;
display: flex;
justify-content: space-between;
overflow-x: hidden;
margin-top: -15rem;
}

.container1::-webkit-scrollbar {
  display: none;
  }

.container1 .card1{
position: relative;
cursor: pointer;

}

.container1 .card1 .face{
width: 300px;
height: 300px;
transition: 0.5s;
border-radius: 10px;

}

.container1 .card1 .face.face1{
position: relative;
background: #333;
display: flex;
flex-direction: column;
align-items: center;
z-index: 1;
border-radius: 10px;
transform: translateY(165px);
}

.container1 .card1:hover .face.face1{
background: #00FFBA;
transform: translateY(0);
}

.container1 .card1 .face.face1 .content{
opacity: .8;
transition: 0.5s;
}

.container1 .card1:hover .face.face1 .content{
opacity: 1;
}

.container1 .card1 .face.face1 img{
max-height: 320px;
border-radius: 10px;
}

.container1 .card1 .face.face1 h3{
margin-top: 3px;
color: rgb(0, 0, 0);
text-align: center;
font-size: 2rem;
font-weight: 400;
}


.container1 .card1 .face.face2{
position: relative;
background: #fff;
display: flex;
flex-direction: column;
align-items: left;
box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
transform: translateY(-100px);
}

.container1 .card1:hover .face.face2{
transform: translateY(-50);

}

.container1 .card1 .face.face2 .content{
color: #000;
margin-top: 14rem;
line-height: 23px;
font-size: 15px;
margin-left: 20px;

}

  
.container1 .card1 .face.face2 .content a{
margin: 15px 0 0;
display:  inline-block;
text-decoration: none;
font-weight: 900;
color: rgb(255, 255, 255);

}

.container1 .card1 .face.face2 .content a:hover{
background: #333;
color: #fff;

}
/* Responsive columns - one column layout (vertical) on small screens */
.demo{ background: #000  ; }
.testimonial{
    margin: 50px 30px 30px 30px;
    text-align: center;
    position: relative;
}
.testimonial .description{
    padding: 30px;
    margin-bottom: 80px;
    border-left: 1px solid #fff;
    font-size: 15px;
    color: #fff;
    line-height: 33px;
    position: relative;
}
.testimonial .description:before,
.testimonial .description:after{
    content: "";
    width: 20%;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
}
.testimonial .description:after{
    top: auto;
    bottom: 0;
}
.testimonial .title{
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 15px 0;
    position: relative;
}
.testimonial:before,
.testimonial .title:before{
    content: "";
    width: 1px;
    height: 50px;
    background: #fff;
    margin: 0 auto;
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
}
.testimonial .title:before{ top: -80px; }
.testimonial .pic{
    display: inline-block;
    width: 100px;
    height: 100px;
}
.testimonial .pic img{
    width: 100%;
    height: auto;
}
.owl-theme .owl-controls{ margin-top: 0; }
.owl-theme .owl-controls .owl-page span{
    width: 10px;
    height: 10px;
    border-radius: 0;
    background: #000;
    outline: 2px solid #000;
    outline-offset: 2px;
    margin-right: 8px;
    opacity: 0.7;
    transition: all 0.3s ease 0s;
}
.owl-theme .owl-controls .owl-page.active span{
    background: #fff;
    outline: 2px solid #fff;
}
/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
  
}